.App {
  text-align: center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #FC3112 0%, #D62A0F 100%);
  display: flex;
  flex-direction: column;
  /* align-content: center; */  
  /* justify-content: center; */
}

@media (max-width: 760px) {
  textarea {
  width: 90vw;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
input[type="date"] {
  background: none;
  border: none;
  color: inherit;
  max-width: 400px;
  margin-top: 20px;
  font-size: inherit;
}

textarea {
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.1);
  max-width: 700px;
  min-height: 200px;
}

textarea:disabled {
  background: rgba(255, 255, 255, 0.1);
}

input[type="date"],
input[type="tel"] {
  max-width: 200px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

label {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: 140%;
  margin-bottom: 10%;
}

input:enabled {
  outline: none;
}

label:last-of-type {
  margin-bottom: 5%;
}

#radio_with_text > input[type="text"] {
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.1);
}

#radio_with_text > input[type="text"]:disabled {
  background: rgba(0, 0, 0, 0);
}

button {
  margin-top: 5%;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  -webkit-box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.75);
  color: #808080;
  margin-bottom: 2%;
}

button > a {
  color: #808080;
  text-decoration: none;
}

.textarea-margin {
  height: 20px;
  width: 1px;
}